BR2_x86_64=y
BR2_x86_corei7_avx=y
BR2_CCACHE=y
BR2_CCACHE_DIR="$(CONFIG_DIR)/ccache"
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL)/board/coreboot/patches"
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
BR2_ENABLE_LOCALE_PURGE=y
BR2_ENABLE_LOCALE_WHITELIST="C"
BR2_TARGET_GENERIC_HOSTNAME="rescue"
BR2_TARGET_GENERIC_ISSUE="Welcome to Coreboot Rescue"
BR2_ROOTFS_USERS_TABLES="$(BR2_EXTERNAL)/board/coreboot/users-table"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL)/board/coreboot/post_build.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_SAME_AS_HEADERS=y
BR2_LINUX_KERNEL_PATCH="$(BR2_EXTERNAL)/board/coreboot/linux-grsec-patches"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL)/board/coreboot/linux-4.1-grsec.config"
BR2_PACKAGE_BUSYBOX_CONFIG="$(BR2_EXTERNAL)/board/coreboot/busybox.config"
BR2_PACKAGE_XZ=y
BR2_PACKAGE_PAX_UTILS=y
BR2_PACKAGE_E2TOOLS=y
BR2_PACKAGE_CRYPTSETUP=y
BR2_PACKAGE_FLASHROM=y
BR2_PACKAGE_PARTED=y
BR2_PACKAGE_WIPE=y
BR2_PACKAGE_CCID=y
BR2_PACKAGE_HAVEGED=y
BR2_PACKAGE_CRDA=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_DROPBEAR_DISABLE_REVERSEDNS=y
BR2_PACKAGE_IW=y
BR2_PACKAGE_MACCHANGER=y
BR2_PACKAGE_NTP=y
# BR2_PACKAGE_NTP_NTPD is not set
BR2_PACKAGE_NTP_NTPDATE=y
BR2_PACKAGE_TCPDUMP=y
BR2_PACKAGE_WIRELESS_TOOLS=y
BR2_PACKAGE_WPA_SUPPLICANT=y
BR2_PACKAGE_WPA_SUPPLICANT_EAP=y
BR2_PACKAGE_WPA_SUPPLICANT_CLI=y
BR2_PACKAGE_WPA_SUPPLICANT_PASSPHRASE=y
BR2_PACKAGE_FILE=y
BR2_PACKAGE_GNUPG2=y
BR2_PACKAGE_GNUPG2_GPGV2=y
BR2_PACKAGE_PINENTRY=y
BR2_PACKAGE_PWGEN=y
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_XZ=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_PACKAGE_CBFSTOOL=y
BR2_PACKAGE_CBMEM=y
BR2_PACKAGE_IFDTOOL=y
BR2_PACKAGE_INTELMETOOL=y
BR2_PACKAGE_NVRAMTOOL=y
BR2_DEFCONFIG="$(BR2_EXTERNAL)/configs/coreboot_minimal_grsec_defconfig"
